/* main */

html {
    *overflow-y: hidden;
    _overflow-y: auto;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    _overflow: auto;
    _height: auto;
    background: #f1f1f1;
}

.wrapper {
    max-width: 1000px;
    _width: 1000px;
    margin: 0 auto;
}

.header {
    height: 48px;
    background: url(../image/bg.png) 0 -114px;
    padding: 10px 16px;
    position: relative;
    z-index: 10;
}

h1 {
    width: 240px;
    height: 47px;
    background: url(../image/bg.png);
    text-indent: -999em;
}

.nav {
    height: 33px;
    background: url(../image/bg.png) 0 -48px;
    padding-left: 16px;
    position: relative;
    z-index: 10;
}

.nav li {
    float: left;
}

.nav li a {
    position: relative;
    float: left;
    display: block;
    color: #fff;
    height: 33px;
    padding: 0 20px;
    line-height: 33px;
    margin-right: 33px;
    text-shadow: 0 1px 0 #000;
}

.nav li a.z-sel, .nav li a:hover {
    color: #fff;
    background: url(../image/bg.png) 0 -81px;
}

.nav li a em {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    color: #fff;
    width: 10px;
    height: 33px;
}

.nav li a.z-sel em, .nav li a:hover em {
    background: url(../image/bg.png) -230px -81px;
}

.main {
    overflow-y: scroll;
    position: absolute;
    z-index: 1;
    top: 101px;
    bottom: 0;
    _overflow-y: hidden;
    _position: relative;
    _top: 0px;
    width: 100%;
}

.main .paddingThere {
    padding-bottom: 76px;
}

.main .autoheight {
    min-height: 100%;
    _height: 100%;
    border: 0 solid #ddd;
    border-width: 0 1px;
    background: #fff;
    overflow: hidden;
}

.main .side {
    float: left;
    padding-bottom: 999px;
    margin-bottom: -999px;
    width: 210px;
    height: 305px;
    background: url(../image/side.gif) no-repeat;
}

.main .content {
    _zoom: 1;
    overflow: hidden;
    padding: 30px;
}

.main .content h2 {
    display: block;
    padding: 4px;
    background: url(../image/bg.png) 0 -134px;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    color: #a40909;
    border: 1px solid #ddd;
}

.content h2 em {
    background: #d60a09;
    width: 4px;
    display: block;
    float: left;
    height: 14px;
    margin: 0 6px;
    border: 1px solid #a40909;
}

.article {
    margin-top: 20px;
    margin-bottom: 40px;
}

.article p {
    text-indent: 2em;
    margin-bottom: 0.6em;
}

.article img {
    margin: 20px 0;
    max-width: 100%;
}

.noclick {
    position: absolute;
    top: 25px;
    left: 104px;
    width: 37px;
    height: 27px;
}

.mask {
    position: absolute;
    top: 810px;
    height: 26px;
    left: 18px;
    right: 18px;
    background: #f1f1f1;
    line-height: 26px;
    padding-left: 6px;
    _width: 960px;
}

.footer {
    padding: 30px 1px;
    text-align: center;
    margin-top: -77px;
    background: #f1f1f1;
    border-top: 1px solid #ddd;
}
